<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <div id="learn-more">

        <div class="container pt-5">
            <div class = "figurecontainer" style ="justify-content: center; align-items: center;padding-top: 20;">
                <figure style="float:left; padding-left: 60px; padding-right: 20px; padding-top: 40px;">
                    <img src="{{ url_for('display_image', filename=filename) }}" width = "500" height="auto" />
                    <figcaption class="font-bold mt-5" style="font-size: 12;"> Grayscale Image </figcaption>
                </figure>
                <figure style="float:left; padding-right: 20; padding-top: 40px;">
                    <img src="data:image/png;base64, {{ base64 }}" width = "500" height="auto" />
                    <figcaption class="font-bold mt-5"  style="font-size: 12;"> Colorized Image </figcaption>
                </figure>
                <p></p>
                <a href="/"> <button class="p-2 px-4 primary-button rounded-pill font-bold color-white mt-2 ms-auto" style = "float: right;"> Colorize Again </button></a>
            </div>
            
            
        </div>
    </div> 


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

